@media only screen and (max-width: 767px) {
	.main-navbar .navbar-brand {
		max-width: 100px;
	}
	.main-navbar.personal-nav {
		border-bottom: 1px solid #4b199c;
		background-color: #4d19a2;
	}
	.default-btn {
		padding: 10px 25px;
		font-size: 14px;
	}
	p {
		font-size: 15px;
	}
	.ptb-100 {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.pt-100 {
		padding-top: 50px;
	}
	.pb-100 {
		padding-bottom: 50px;
	}
	.pt-70 {
		padding-top: 30px;
	}
	.pb-70 {
		padding-bottom: 20px;
	}
	.section-title {
		margin: 0 auto 30px;
	}
	.section-title span {
		font-size: 13px;
		margin-bottom: 5px;
	}
	.section-title h2 {
		font-size: 25px;
	}
	.screens-slider-area
		.screens-slider.owl-theme
		.owl-dots
		.owl-dot.active
		span {
		width: 25px;
	}
	.features-area .features-card-content .title {
		font-size: 23px;
		margin-bottom: 25px;
	}
	.features-area .features-contant {
		margin-bottom: 30px;
	}
	.clients-area .section-title {
		margin: 0 auto 15px;
	}
	.clients-area .clients-slider .clients-slider-item .client-text {
		padding: 20px;
		text-align: center;
	}
	.clients-area .clients-slider .clients-slider-item .client-text .text p {
		font-size: 14px;
	}
	.clients-area .clients-slider .clients-slider-item .client-text .text i {
		display: none;
	}
	.clients-area .clients-slider .clients-slider-item .client-image {
		margin: auto;
	}
	.clients-area .clients-slider.owl-theme .owl-nav {
		position: initial;
	}
	.clients-area .clients-slider.owl-theme .owl-nav .owl-prev,
	.clients-area .clients-slider.owl-theme .owl-nav .owl-next {
		position: absolute;
		bottom: 360px;
		left: 0;
	}
	.clients-area .clients-slider.owl-theme .owl-nav .owl-prev.owl-next,
	.clients-area .clients-slider.owl-theme .owl-nav .owl-next.owl-next {
		left: auto;
		right: 0;
	}
	/* Personal Area Responsive */
	.personal-banner-area {
		padding-top: 125px;
		background-position: inherit;
		border-bottom: 1px solid #eee;
		padding-bottom: 130px;
	}
	.personal-banner-area .personal-banner-img {
		margin-bottom: 30px;
	}
	.personal-banner-area .personal-bennr-text span {
		font-size: 16px;
		margin-bottom: 0;
	}
	.personal-banner-area .personal-bennr-text h1 {
		font-size: 40px;
	}
	.personal-banner-area .personal-bennr-text h3 {
		font-size: 20px;
	}
	.personal-banner-area .personal-bennr-text p {
		font-size: 16px;
	}
	.video-btn a {
		height: 70px;
		width: 70px;
		font-size: 30px;
		line-height: 70px;
	}
	.video-btn a .ripple {
		width: 70px;
		height: 70px;
		margin: -35px 0 0 -35px;
	}
	.case-study-card {
		text-align: center;
	}
	.case-study-card .caption {
		padding: 15px 25px;
	}
	.case-study-card .caption .study-text h3 {
		font-size: 20px;
		margin-bottom: 8px;
	}
	/* App Responsive */
	.main-navbar {
		background-color: #fff;
	}
	.easy-step-area .easy-step-img {
		margin-bottom: 30px;
		text-align: center;
	}
	.easy-step-area .easy-step-img .step-1 {
		max-width: 200px;
		border-radius: 33px;
	}
	.easy-step-area .easy-step-img .shape-1 {
		max-width: 200px;
		top: 0;
		left: -15px;
	}
	.easy-step-area .easy-step-img .shape-21 {
		right: 20px;
		max-width: 100px;
		bottom: 0;
	}
	.powerful-area .section-title h2 {
		font-size: 28px;
	}
	.powerful-area .powerful-img img {
		border-radius: 40px;
	}
	.clients-slider-two-area .clients-slider-two .slider-two-item {
		padding: 20px 15px;
	}
	.clients-slider-two-area .clients-slider-two .slider-two-item img {
		top: 25px;
		right: 20px;
	}
	.clients-slider-two-area .clients-slider-two .slider-two-item .clients-icon {
		bottom: 15px;
		right: 25px;
		font-size: 20px;
	}
}

@media only screen and (max-width: 575px) {
	.easy-step-area .easy-step-card {
		margin-bottom: 15px;
		padding-bottom: 15px;
	}
	.easy-step-area .easy-step-card:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
	}
	.easy-step-area .easy-step-card.left-text .step-signle-card {
		margin-bottom: 15px;
	}
	.easy-step-area .easy-step-card.right-text .step-signle-card {
		margin-top: 15px;
	}
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
	/* Personal Area Responsive */
	.case-study-card {
		text-align: center;
	}
	.case-study-card .caption {
		padding: 10px 5px;
	}
	.case-study-card .caption .study-text h3 {
		font-size: 18px;
		margin-bottom: 5px;
	}
	.case-study-card .caption .study-text p {
		margin-bottom: 5px;
	}
	.case-study-card .caption .study-text a i {
		font-size: 20px;
	}
	.powerful-area .powerful-img {
		max-width: 300px;
		margin: auto;
	}
	.easy-step-area .easy-step-img .step-1 {
		max-width: 260px;
		border-radius: 35px;
	}
	.our-service-card {
		padding: 30px 18px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.clients-area .clients-slider .clients-slider-item .client-text {
		padding: 20px;
		text-align: center;
	}
	.clients-area .clients-slider .clients-slider-item .client-text .text i {
		display: none;
	}
	.clients-area .clients-slider .clients-slider-item .client-image {
		margin: auto;
	}
	.clients-area .clients-slider.owl-theme .owl-nav {
		position: initial;
	}
	.clients-area .clients-slider.owl-theme .owl-nav .owl-prev,
	.clients-area .clients-slider.owl-theme .owl-nav .owl-next {
		position: absolute;
		bottom: 360px;
		left: 0;
	}
	.clients-area .clients-slider.owl-theme .owl-nav .owl-prev.owl-next,
	.clients-area .clients-slider.owl-theme .owl-nav .owl-next.owl-next {
		left: auto;
		right: 0;
	}
	.pb-70 {
		padding-bottom: 40px;
	}
	.case-study-card .caption {
		padding: 45px 15px;
	}
	.ptb-100 {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	.pt-100 {
		padding-top: 70px;
	}
	.pb-100 {
		padding-bottom: 70px;
	}
	.pt-70 {
		padding-top: 40px;
	}
	/* Personal Area Responsive */
	.main-navbar.personal-nav .navbar-nav .nav-link {
		margin: 0 10px;
	}
	.personal-banner-area {
		padding-top: 125px;
		background-position: inherit;
		border-bottom: 1px solid #eee;
		padding-bottom: 130px;
		text-align: center;
	}
	.personal-banner-area .personal-banner-img {
		margin-bottom: 30px;
	}
	.personal-banner-area .personal-bennr-text span {
		font-size: 16px;
		margin-bottom: 0;
	}
	.personal-banner-area .personal-bennr-text h1 {
		font-size: 40px;
	}
	.personal-banner-area .personal-bennr-text h3 {
		font-size: 20px;
	}
	.personal-banner-area .personal-bennr-text p {
		font-size: 16px;
	}
	.easy-step-area .easy-step-img {
		text-align: center;
		margin-bottom: 30px;
	}
	.easy-step-area .easy-step-img .shape-21 {
		bottom: 0;
	}
	.powerful-area .powerful-img {
		margin: auto;
	}
	.clients-slider-two-area .clients-slider-two .slider-two-item {
		margin: 15px auto;
	}
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	/* Personal Area Responsive */
	.personal-banner-area .personal-bennr-text span {
		font-size: 20px;
	}
	.personal-banner-area .personal-bennr-text h1 {
		font-size: 45px;
	}
	.personal-banner-area .personal-bennr-text h3 {
		font-size: 20px;
	}
	.personal-banner-area .personal-bennr-text .personal-text-shape .shape-23 {
		top: -80px;
	}
	.case-study-card .caption {
		padding: 30px 22px;
	}
	.case-study-card .caption .study-text h3 {
		font-size: 20px;
		margin-bottom: 5px;
	}
	.case-study-card .caption .study-text p {
		margin-bottom: 0;
	}
	.easy-step-area .easy-step-card .step-signle-card.step-p {
		padding: 25px 20px;
	}
	.clients-slider-two-area .clients-slider-two .slider-two-item {
		margin: 15px auto;
	}
}

@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1170px;
	}
}
