/*
@File: Tarly Template Styles

* This file contains the styling for the actual template, this
is the file you need to edit to change the look of the
template.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

** - Default CSS
** - Nabvar Area CSS
** - Personal Portfolio CSS
** - Features Area CSS
** - Video Button CSS
** - Clients Area CSS
** - Case Study Area CSS
** - Our Services Area CSS
** - Why Choose Area CSS
** - Easy Step Area CSS
** - Powerful Area CSS
** - Perfect Area CSS
** - Clients Slider Two CSS
** - Screens Slider Area CSS
** - Go top CSS

*******************************************
/*

/*================================================
Default CSS
=================================================*/
@import url("https://fonts.googleapis.com/css2?family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
	font-family: "Sarabun", sans-serif;
	font-size: 16px;
	color: #7f7f7f;
}

img {
	max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #242424;
	font-weight: bold;
}

a {
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

a:hover {
	text-decoration: none;
}

button:focus {
	outline: 0;
}

p {
	margin-bottom: 10px;
	line-height: 1.7;
	color: #7f7f7f;
}

p:last-child {
	margin-bottom: 0;
}

.ptb-100 {
	padding-top: 100px;
	padding-bottom: 100px;
}

.pt-100 {
	padding-top: 100px;
}

.pt-70 {
	padding-top: 70px;
}

.pb-100 {
	padding-bottom: 100px;
}

.pb-70 {
	padding-bottom: 70px;
}

.d-table {
	width: 100%;
	height: 100%;
}

.d-table .d-table-cell {
	vertical-align: middle;
}

.default-btn {
	padding: 15px 40px;
	border-radius: 30px;
	display: inline-block;
	border: 1px solid #ffffff;
}

.section-title {
	text-align: center;
	max-width: 800px;
	margin: 20px auto 60px;
}

.section-title span {
	font-size: 16px;
	font-weight: 500;
	color: var(--base-light-color);
	display: inline-block;
	margin-bottom: 15px;
	line-height: 1;
}

.section-title h2 {
	font-size: 40px;
	margin-bottom: 15px;
}

.section-title p {
	/* max-width: 525px; */
	max-width: 660px;
	margin: auto;
}

/*================================================
Nabvar Area CSS
=================================================*/
.main-navbar {
	padding-top: 12px;
	padding-bottom: 12px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.main-navbar.menu-shrink {
	-webkit-box-shadow: 0px 2px 25px #ddd;
	box-shadow: 0px 2px 25px #ddd;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #ffffff;
}

.main-navbar .navbar-nav .nav-link {
	color: #301d44;
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 10px;
	margin: 0 10px;
	position: relative;
}

.main-navbar .navbar-nav .nav-link::before {
	content: "";
	position: absolute;
	background-color: var(--base-light-color);
	width: 100%;
	height: 2px;
	left: 0;
	right: 0;
	bottom: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.main-navbar .navbar-nav .nav-link::focus {
	color: var(--base-light-color);
}

.main-navbar .navbar-nav .nav-link:hover {
	color: var(--base-light-color);
}

.main-navbar .navbar-nav .nav-link:hover::before {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.main-navbar .navbar-nav .nav-link.active {
	color: var(--base-light-color);
}

.main-navbar .navbar-nav .nav-link.active::before {
	-webkit-transform: scale(1);
	transform: scale(1);
}

/* Toggler Navbar */
.navbar-toggler {
	border: none;
	padding: 7px;
	border-radius: 0;
}

.navbar-toggler .icon-bar {
	width: 28px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	background: #069ee8;
	height: 2px;
	display: block;
}

.navbar-toggler .top-bar {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transform-origin: 10% 10%;
	transform-origin: 10% 10%;
	left: 0;
	position: relative;
}

.navbar-toggler .middle-bar {
	opacity: 1;
	margin: 6px 0;
}

.navbar-toggler .bottom-bar {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transform-origin: 10% 90%;
	transform-origin: 10% 90%;
	left: 0px;
	position: relative;
}

.navbar-toggler[aria-expanded="true"] .top-bar {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	left: 0;
}

.navbar-toggler[aria-expanded="true"] .middle-bar {
	opacity: 0;
}

.navbar-toggler[aria-expanded="true"] .bottom-bar {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	left: 0;
}

/*================================================
Personal Portfolio CSS
=================================================*/
/* Navbar Area */
.main-navbar.personal-nav {
	border-bottom: 1px solid var(--base-nav-line-color);
}

.main-navbar.personal-nav.menu-shrink {
	background-color: var(--base-nav-color);
}

.main-navbar.personal-nav .navbar-toggler .icon-bar {
	background: #ffffff;
}

.main-navbar.personal-nav .nav-btn .pp-btn {
	background-color: var(--yellow-accent-color);
	border: 1px solid var(--yellow-accent-color);
	color: #ffffff;
}

.main-navbar.personal-nav .nav-btn .pp-btn:hover {
	background-color: #242424;
	border: 1px solid #242424;
	color: #ffffff;
}

.main-navbar.personal-nav .navbar-nav .nav-link {
	color: #ffffff;
}

.main-navbar.personal-nav .navbar-nav .nav-link::before {
	background-color: #ffffff;
}

.main-navbar.personal-nav .navbar-nav .nav-link::focus {
	color: #ffffff;
}

.main-navbar.personal-nav .navbar-nav .nav-link:hover {
	color: #ffffff;
}

.main-navbar.personal-nav .navbar-nav .nav-link.active {
	color: #ffffff;
}

/* Personal Banner Area */
.personal-banner-area {
	/* background-image: url("../avatar/portfolio-bg2.svg"); */
	background-size: cover;
	background-position: center center;
	padding-top: 180px;
	padding-bottom: 40px;
	overflow-x: hidden;
	overflow-y: hidden;
}

.personal-banner-area .personal-banner-img {
	position: relative;
}

.personal-banner-area .personal-banner-img .personal-shape .shape-24 {
	position: absolute;
	top: 0;
	left: -60px;
	-webkit-animation: animationFramesOne 20s infinite linear;
	animation: animationFramesOne 20s infinite linear;
}

.personal-banner-area .personal-banner-img .personal-shape .shape-2 {
	position: absolute;
	bottom: 50px;
	left: -80px;
	-webkit-animation: animationFramesOne 20s infinite linear;
	animation: animationFramesOne 20s infinite linear;
}

.personal-banner-area .personal-banner-img .personal-shape .shape-13 {
	position: absolute;
	bottom: -35px;
	right: -55px;
	z-index: -1;
	-webkit-animation: moveLeftBounce 3s linear infinite;
	animation: moveLeftBounce 3s linear infinite;
}

.personal-banner-area .personal-bennr-text {
	position: relative;
}

.personal-banner-area .personal-bennr-text span {
	font-size: 28px;
	color: var(--yellow-accent-color);
	display: inline-block;
	margin-bottom: 10px;
	font-weight: 600;
}

.personal-banner-area .personal-bennr-text h1 {
	font-size: 50px;
	color: #ffffff;
	margin-bottom: 15px;
	line-height: 1;
}

.personal-banner-area .personal-bennr-text h3 {
	font-size: 30px;
	color: #ffffff;
	margin-bottom: 20px;
}

.personal-banner-area .personal-bennr-text p {
	color: var(--base-light-background-color);
	font-size: 20px;
}

.personal-banner-area .personal-bennr-text .personal-btn {
	margin-top: 35px;
}

.personal-banner-area
	.personal-bennr-text
	.personal-btn
	.default-btn.personal-btn-1 {
	background-color: var(--yellow-accent-color);
	border: 1px solid var(--yellow-accent-color);
	color: #ffffff;
}

.personal-banner-area
	.personal-bennr-text
	.personal-btn
	.default-btn.personal-btn-1:hover {
	background-color: var(--base-light-color);
	border: 1px solid #ffffff;
}

.personal-banner-area
	.personal-bennr-text
	.personal-btn
	.default-btn.personal-btn-2 {
	color: #ffffff;
}

.personal-banner-area
	.personal-bennr-text
	.personal-btn
	.default-btn.personal-btn-2:hover {
	background-color: var(--yellow-accent-color);
	border: 1px solid var(--yellow-accent-color);
	color: #ffffff;
}

.personal-banner-area .personal-bennr-text .personal-text-shape .shape-2 {
	position: absolute;
	bottom: -140px;
	right: 0;
	-webkit-animation: animationFramesOne 20s infinite linear;
	animation: animationFramesOne 20s infinite linear;
}

.personal-banner-area .personal-bennr-text .personal-text-shape .shape-14 {
	position: absolute;
	bottom: 25px;
	right: -90px;
	-webkit-animation: moveLeftBounce 3s linear infinite;
	animation: moveLeftBounce 3s linear infinite;
}

.personal-banner-area .personal-bennr-text .personal-text-shape .shape-4 {
	position: absolute;
	top: -130px;
	right: 0;
	-webkit-animation: animationFramesOne 20s infinite linear;
	animation: animationFramesOne 20s infinite linear;
}

.personal-banner-area .personal-bennr-text .personal-text-shape .shape-22 {
	position: absolute;
	top: -40px;
	right: -100px;
	-webkit-animation: moveLeftBounce 3s linear infinite;
	animation: moveLeftBounce 3s linear infinite;
}

.personal-banner-area .personal-bennr-text .personal-text-shape .shape-23 {
	position: absolute;
	top: -130px;
	left: 20px;
	-webkit-animation-name: rotateme;
	animation-name: rotateme;
	-webkit-animation-duration: 20s;
	animation-duration: 20s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

/* Features Area CSS */
.features-area {
	background-color: #f9f9f9;
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
}

.features-area .features-card-content .title {
	font-size: 36px;
	margin-bottom: 40px;
}

.features-area .features-contant {
	position: relative;
	z-index: 1;
}

.features-area .features-contant .features-shape {
	position: absolute;
	max-width: 440px;
	bottom: 0;
	left: 0;
	z-index: -1;
	-webkit-animation-name: rotateme;
	animation-name: rotateme;
	-webkit-animation-duration: 20s;
	animation-duration: 20s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

/* SaaS Features (used for smart home feature cards) */
.saas-features {
	padding: 25px 25px 25px 110px;
	position: relative;
	background-color: #ffffff;
	margin-bottom: 30px;
	border-radius: 10px;
	-webkit-box-shadow: 5px 3px 20px 1px #f2e5ff;
	box-shadow: 5px 3px 20px 1px #f2e5ff;
	z-index: 3;
}

.saas-features:last-child {
	margin-bottom: 0;
}

.saas-features h3 {
	font-size: 22px;
}

/* Video Button CSS */
.video-btn {
	position: relative;
	text-align: center;
}

.video-btn a {
	background-color: var(--base-light-color);
	color: #ffffff;
	height: 100px;
	width: 100px;
	position: absolute;
	text-align: center;
	margin: -50px 0 0 -30px;
	border-radius: 100px;
	z-index: 1;
	font-size: 40px;
	line-height: 100px;
}

.video-btn a:hover {
	color: var(--base-light-color);
}

.video-btn a .ripple {
	background-color: var(--ripple-fade-color);
	position: absolute;
	width: 100px;
	height: 100px;
	z-index: -1;
	left: 50%;
	top: 50%;
	opacity: 0;
	margin: -50px 0 0 -50px;
	border-radius: 100%;
	-webkit-animation: ripple 1.8s infinite;
	animation: ripple 1.8s infinite;
}

.video-btn a .ripple:nth-child(2) {
	animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}

.video-btn a .ripple:nth-child(3) {
	animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}

@-webkit-keyframes ripple {
	0% {
		opacity: 1;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes ripple {
	0% {
		opacity: 1;
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	100% {
		opacity: 0;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

.video-btn-1 a {
	background-color: #ffffff;
}

.video-btn-1 a i {
	color: var(--base-light-color);
}

.video-btn-1 a .ripple {
	background-color: rgba(255, 255, 255, 0.46);
}

/* Clients Area CSS */
.clients-area {
	position: relative;
	overflow-x: hidden;
	overflow-y: hidden;
}

.clients-area .container {
	position: relative;
}

.clients-area .clients-slider {
	position: relative;
}

.clients-area .clients-slider .clients-slider-item .client-text {
	padding-left: 30px;
	padding-right: 30px;
}

.clients-area .clients-slider .clients-slider-item .client-text .text {
	position: relative;
}

.clients-area .clients-slider .clients-slider-item .client-text .text p {
	font-size: 20px;
	font-weight: 400;
	color: #242424;
}

.clients-area
	.clients-slider
	.clients-slider-item
	.client-text
	.text
	.text-icon-1 {
	position: absolute;
	font-size: 30px;
	color: var(--base-light-color);
	left: -30px;
	top: -15px;
}

.clients-area
	.clients-slider
	.clients-slider-item
	.client-text
	.text
	.text-icon-2 {
	position: absolute;
	font-size: 30px;
	color: var(--base-light-color);
	right: -30px;
	bottom: -15px;
}

.clients-area .clients-slider .clients-slider-item .client-text .rating {
	margin-bottom: 10px;
	color: #ffc700;
}

.clients-area .clients-slider .clients-slider-item .client-text h3 {
	font-size: 20px;
	margin-bottom: 5px;
}

.clients-area .clients-slider .clients-slider-item .client-text span {
	font-size: 12px;
	font-weight: 400;
}

.clients-area .clients-slider .clients-slider-item .client-image {
	max-width: 40rem;
	max-height: 35rem;
	margin: auto;
}

.clients-area .clients-slider .clients-slider-item .client-image img {
	border-radius: 5px;
}

.clients-area .clients-slider.owl-theme .owl-nav {
	margin: 0;
	text-align: left;
	position: absolute;
	left: 30px;
	bottom: 0;
}

.clients-area .clients-slider.owl-theme .owl-nav .owl-prev,
.clients-area .clients-slider.owl-theme .owl-nav .owl-next {
	font-size: 25px;
	line-height: 1;
	color: #242424;
	margin: 0 5px;
}

.clients-area .clients-slider.owl-theme .owl-nav .owl-prev:hover,
.clients-area .clients-slider.owl-theme .owl-nav .owl-next:hover {
	background-color: transparent;
	color: var(--base-light-color);
}

.clients-area .claint-shape {
	position: absolute;
	right: 0;
	margin: auto;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

.clients-area .claint-shape .shape-9 {
	max-width: 550px;
	-webkit-animation-name: rotateme;
	animation-name: rotateme;
	-webkit-animation-duration: 20s;
	animation-duration: 20s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

.clients-area .claint-shape .shape-10 {
	position: absolute;
	bottom: 55px;
	max-width: 550px;
	right: 120px;
	z-index: -1;
	-webkit-animation: moveLeftBounce 3s linear infinite;
	animation: moveLeftBounce 3s linear infinite;
}

.clients-area .claint-shape .shape-2 {
	position: absolute;
	bottom: 55px;
	right: 0;
	z-index: -1;
}

/* Our Services Area */
.our-services-area {
	background-color: var(--base-light-background-color);
}

.our-service-card {
	padding: 40px 30px;
	-webkit-box-shadow: 0px 0px 20px 1px #e0dddd;
	box-shadow: 0px 0px 20px 1px #e0dddd;
	background-color: #ffffff;
	margin-bottom: 30px;
	border-radius: 10px;
	text-align: center;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.our-service-card i {
	font-size: 30px;
	width: 55px;
	height: 55px;
	line-height: 55px;
	border-radius: 5px;
	text-align: center;
	margin-bottom: 25px;
	color: #ffffff;
}

.our-service-card i.bg-1 {
	background-color: var(--base-light-color);
}

.our-service-card i.bg-2 {
	background-color: #f6d665;
}

.our-service-card i.bg-3 {
	background-color: var(--purple-accent-color);
}

.our-service-card i.bg-4 {
	background-color: #a78bc5;
}

.our-service-card i.bg-5 {
	background-color: #f47456;
}

.our-service-card i.bg-6 {
	background-color: var(--green-accent-color);
}

.our-service-card i i {
	position: relative;
	left: -15px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.our-service-card h3 {
	font-size: 22px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.our-service-card:hover {
	margin-top: -5px;
	-webkit-box-shadow: 0px 8px 20px 0px #b9b8b9;
	box-shadow: 0px 8px 20px 0px #b9b8b9;
	background-color: var(--base-light-color);
}

.our-service-card:hover i {
	background-color: #ffeae5;
	color: #f47456;
}

.our-service-card:hover h3 {
	color: #ffffff;
}

.our-service-card:hover p {
	color: #f9f9f9;
}

/* Case Study Area */
.case-study-area {
	background-color: var(--base-light-background-color);
}

.case-study-card {
	position: relative;
	margin-bottom: 30px;
	overflow: hidden;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.case-study-card img {
	border-radius: 10px;
}

.case-study-card .caption {
	padding: 15px 25px;
	position: absolute;
	background-color: var(--base-light-color);
	border-radius: 10px;
	left: 0;
	top: 100%;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.case-study-card .caption .study-text {
	text-align: center;
	position: relative;
}

.case-study-card .caption .study-text a {
	color: #ffffff;
}

.case-study-card .caption .study-text a i {
	font-size: 30px;
}

.case-study-card .caption .study-text a:hover {
	color: #242424;
}

.case-study-card .caption .study-text h3 {
	font-size: 24px;
	color: #ffffff;
	margin-bottom: 15px;
}

.case-study-card .caption .study-text p {
	color: #ffffff;
	margin-bottom: 15px;
}

.case-study-card:hover .caption {
	top: 0;
}

/* Why Choose Us Area */
.why-choose-area {
	background-color: #f8feff;
}

/* Go top */
.go-top {
	position: fixed;
	bottom: 15px;
	right: 15px;
	cursor: pointer;
	z-index: 9999;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.go-top.active {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.go-top i {
	background: #242424;
	color: #ffffff;
	width: 40px;
	height: 40px;
	display: inline-block;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
	border-radius: 50px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.go-top i:hover {
	background: var(--base-light-color);
	color: #ffffff;
}

/* Choose Us two Area */
.choose-area {
	background-color: #ffffff;
	z-index: 3;
}

.choose-area .chooses-img-contant {
	position: relative;
	padding-bottom: 60px;
	z-index: 2;
}

.choose-area .chooses-img-contant::before {
	content: "";
	position: absolute;
	background-color: #f1f0ff;
	width: 100%;
	height: 350px;
	left: -90px;
	bottom: 0;
}

.choose-area .choose-card h3 {
	font-size: 22px;
}

.choose-area .choose-card i.bg-1 {
	background-color: #e5ecff;
	color: var(--base-light-color);
}

.choose-area .choose-card i.bg-2 {
	background-color: #fff8e5;
	color: var(--yellow-accent-color);
}

.choose-area .choose-card i.bg-3 {
	background-color: #ffe5f5;
	color: #faa3d9;
}

.choose-area .choose-card i.bg-4 {
	background-color: #fae5ff;
	color: #b66ec7;
}

/* Service Shape Area */
.service-shape {
	position: relative;
	z-index: 1;
}

.service-shape .our-service-shape {
	position: absolute;
	bottom: 380px;
	right: 80px;
	z-index: -1;
	-webkit-animation-name: rotateme;
	animation-name: rotateme;
	-webkit-animation-duration: 20s;
	animation-duration: 20s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

/* Easy Step Area */
.easy-step-area .easy-step-img {
	position: relative;
	z-index: 1;
}

.easy-step-area .easy-step-img .step-1 {
	-webkit-box-shadow: 0px 0px 20px #0e3a5f;
	box-shadow: 0px 0px 20px #0e3a5f;
	border-radius: 16px;
}

.easy-step-area .easy-step-img .shape-1 {
	position: absolute;
	top: -50px;
	left: -80px;
	z-index: -1;
	-webkit-animation: moveLeftBounce 3s linear infinite;
	animation: moveLeftBounce 3s linear infinite;
}

.easy-step-area .easy-step-img .shape-21 {
	position: absolute;
	right: 60px;
	bottom: -40px;
	z-index: -1;
	-webkit-animation-name: rotateme;
	animation-name: rotateme;
	-webkit-animation-duration: 20s;
	animation-duration: 20s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

.easy-step-area .easy-step-card {
	position: relative;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #f2f1f3;
}

.easy-step-area .easy-step-card:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
	border-bottom: none;
}

.easy-step-area .easy-step-card .step-signle-card {
	text-align: center;
	padding: 25px 20px;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 0px 20px #dddddd;
	box-shadow: 0px 0px 20px #dddddd;
	border-radius: 10px;
	position: relative;
}

.easy-step-area .easy-step-card .step-signle-card i {
	color: #ffffff;
	width: 55px;
	height: 55px;
	line-height: 55px;
	font-size: 30px;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 15px;
}

.easy-step-area .easy-step-card .step-signle-card i.bg-1 {
	background-color: var(--base-light-color);
}

.easy-step-area .easy-step-card .step-signle-card i.bg-2 {
	background-color: #f6d665;
}

.easy-step-area .easy-step-card .step-signle-card i.bg-3 {
	background-color: var(--purple-accent-color);
}

.easy-step-area .easy-step-card .step-signle-card span {
	position: absolute;
	top: 0;
	right: 10px;
	font-size: 50px;
	font-weight: 700;
	color: #f4f4f5;
	line-height: 1;
	z-index: -1;
}

.easy-step-area .easy-step-card .step-signle-card h3 {
	font-size: 18px;
	margin-bottom: 0;
	line-height: 1.4;
}

.easy-step-area .easy-step-card .step-signle-card.step-p {
	padding: 25px 33px;
}

/* Powerful Area */
.powerful-area {
	background-color: var(--base-light-color);
	border-radius: 0px 0px 700px 0px;
}

.powerful-area .section-title {
	text-align: left;
}

.powerful-area .section-title h2 {
	font-size: 36px;
	color: #ffffff;
}

.powerful-area .powerful-card {
	padding-left: 80px;
	position: relative;
	margin-bottom: 30px;
}

.powerful-area .powerful-card i {
	position: absolute;
	color: #ffffff;
	width: 55px;
	height: 55px;
	left: 0;
	top: 4px;
	line-height: 55px;
	font-size: 30px;
	text-align: center;
	border-radius: 5px;
}

.powerful-area .powerful-card i.bg-1 {
	background-color: var(--red-accent-color);
}

.powerful-area .powerful-card i.bg-2 {
	background-color: var(--yellow-accent-color);
}

.powerful-area .powerful-card i.bg-3 {
	background-color: var(--green-accent-color);
}

.powerful-area .powerful-card i.bg-4 {
	background-color: var(--purple-accent-color);
}

.powerful-area .powerful-card h3 {
	font-size: 20px;
	color: #ffffff;
}

.powerful-area .powerful-card p {
	color: #f4f6ff;
}

.powerful-area .powerful-img img {
	/* -webkit-box-shadow: 1px 20px 20px #dddddd;
	box-shadow: 1px 20px 20px #dddddd;
	border-radius: 65px; */
}

/* Perfect Area */
.perfect-area .perfect-img {
	position: relative;
	z-index: 1;
}

.perfect-area .perfect-img .perfect-1 {
	-webkit-box-shadow: 5px 6px 20px #dddddd;
	box-shadow: 5px 6px 20px #dddddd;
	border-radius: 65px;
	max-width: 400px;
	width: 100%;
}

.perfect-area .perfect-img .perfect-shape {
	position: absolute;
	left: -200px;
	bottom: 0;
	max-width: 400px;
	z-index: -1;
	-webkit-animation-name: rotateme;
	animation-name: rotateme;
	-webkit-animation-duration: 20s;
	animation-duration: 20s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

.perfect-area .section-title {
	text-align: left;
	margin-bottom: 0;
}

.perfect-area .section-title h2 {
	font-size: 36px;
}

.perfect-area .section-title p {
	margin-left: 0;
}

.perfect-area .perfect-card {
	margin-top: 40px;
	padding-right: 5px;
}

.perfect-area .perfect-card i {
	background-color: var(--base-light-color);
	color: #ffffff;
	width: 55px;
	height: 55px;
	font-size: 30px;
	line-height: 55px;
	text-align: center;
	border-radius: 5px;
	margin-bottom: 15px;
}

.perfect-area .perfect-card h3 {
	font-size: 24px;
}

/* Clients Slider Two */
.clients-slider-two-area {
	position: relative;
}

.clients-slider-two-area .clients-slider-two .slider-two-item {
	background-color: #fff;
	max-width: 570px;
	-webkit-box-shadow: 0px 0px 20px #dddddd;
	box-shadow: 0px 0px 20px #dddddd;
	border-radius: 10px;
	padding: 60px 35px;
	position: relative;
	margin: 15px 15px 30px 15px;
	z-index: 5;
}

.clients-slider-two-area .clients-slider-two .slider-two-item img {
	border-radius: 50%;
	border: 3px solid var(--base-light-color);
	position: absolute;
	top: 40px;
	right: 35px;
	width: 70px;
	height: 70px;
}

.clients-slider-two-area .clients-slider-two .slider-two-item h3 {
	font-size: 20px;
	margin-bottom: 5px;
}

.clients-slider-two-area .clients-slider-two .slider-two-item p {
	margin: 0;
}

.clients-slider-two-area .clients-slider-two .slider-two-item span {
	font-size: 14px;
}

.clients-slider-two-area .clients-slider-two .slider-two-item .rating {
	color: #ffc700;
	margin-top: 10px;
	margin-bottom: 5px;
}

.clients-slider-two-area .clients-slider-two .slider-two-item .clients-icon {
	position: absolute;
	bottom: 35px;
	right: 60px;
	font-size: 40px;
	color: #5fabb3;
}

.clients-slider-two-area .clients-slider-two.owl-theme .owl-dots {
	line-height: 1;
}

.clients-slider-two-area .clients-slider-two.owl-theme .owl-dots .owl-dot span {
	background-color: var(--base-light-color);
	height: 12px;
	width: 12px;
	margin: 0 6px;
}

.clients-slider-two-area
	.clients-slider-two.owl-theme
	.owl-dots
	.owl-dot.active
	span {
	background-color: var(--base-light-color);
	width: 50px;
	height: 12px;
}

.clients-slider-two-area .client-shape {
	position: absolute;
	bottom: 120px;
	right: 30px;
	z-index: -1;
}

/* Screens Slider Area */
.screens-slider-area {
	background-color: #f9fdff;
}

.screens-slider-area .screens-slider .screen-slider-item {
	margin: 15px;
}

.screens-slider-area .screens-slider .screen-slider-item img {
	-webkit-box-shadow: 0px 0px 20px #d3d7e2;
	box-shadow: 0px 0px 20px #d3d7e2;
	border-radius: 30px;
}

.screens-slider-area .screens-slider.owl-theme .owl-dots {
	line-height: 1;
}

.screens-slider-area .screens-slider.owl-theme .owl-dots .owl-dot span {
	background-color: var(--base-light-color);
	height: 12px;
	width: 12px;
	margin: 0 6px;
}

.screens-slider-area .screens-slider.owl-theme .owl-dots .owl-dot.active span {
	background-color: var(--base-light-color);
	width: 50px;
	height: 12px;
}

/* Utility class for feature card padding */
.me_feature-card-padding {
	margin: 0.3rem;
	padding: 1rem;
}

/* Shape rotate */
.rotateme {
	-webkit-animation-name: rotateme;
	animation-name: rotateme;
	-webkit-animation-duration: 40s;
	animation-duration: 40s;
	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-timing-function: linear;
}

@keyframes rotateme {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes rotateme {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}

@-webkit-keyframes rotate3d {
	0% {
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	100% {
		-webkit-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}

@keyframes rotate3d {
	0% {
		-webkit-transform: rotateY(0deg);
		transform: rotateY(0deg);
	}
	100% {
		-webkit-transform: rotateY(360deg);
		transform: rotateY(360deg);
	}
}

@keyframes animationFramesOne {
	0% {
		-webkit-transform: translate(0px, 0px) rotate(0deg);
		transform: translate(0px, 0px) rotate(0deg);
	}
	20% {
		-webkit-transform: translate(73px, -1px) rotate(36deg);
		transform: translate(73px, -1px) rotate(36deg);
	}
	40% {
		-webkit-transform: translate(141px, 72px) rotate(72deg);
		transform: translate(141px, 72px) rotate(72deg);
	}
	60% {
		-webkit-transform: translate(83px, 122px) rotate(108deg);
		transform: translate(83px, 122px) rotate(108deg);
	}
	80% {
		-webkit-transform: translate(-40px, 72px) rotate(144deg);
		transform: translate(-40px, 72px) rotate(144deg);
	}
	100% {
		-webkit-transform: translate(0px, 0px) rotate(0deg);
		transform: translate(0px, 0px) rotate(0deg);
	}
}

@-webkit-keyframes animationFramesOne {
	0% {
		-webkit-transform: translate(0px, 0px) rotate(0deg);
	}
	20% {
		-webkit-transform: translate(73px, -1px) rotate(36deg);
	}
	40% {
		-webkit-transform: translate(141px, 72px) rotate(72deg);
	}
	60% {
		-webkit-transform: translate(83px, 122px) rotate(108deg);
	}
	80% {
		-webkit-transform: translate(-40px, 72px) rotate(144deg);
	}
	100% {
		-webkit-transform: translate(0px, 0px) rotate(0deg);
	}
}

@-webkit-keyframes ripple-white {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2),
			0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2),
			0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
	}
	100% {
		-webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2),
			0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0);
		box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2),
			0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0);
	}
}

@keyframes ripple-white {
	0% {
		-webkit-box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2),
			0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.2),
			0 0 0 20px rgba(255, 255, 255, 0.2), 0 0 0 40px rgba(255, 255, 255, 0.2);
	}
	100% {
		-webkit-box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2),
			0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0);
		box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.2),
			0 0 0 40px rgba(255, 255, 255, 0.2), 0 0 0 60px rgba(255, 255, 255, 0);
	}
}

/* End Shape rotate */
@-webkit-keyframes moveBounce {
	0% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	50% {
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}
@keyframes moveBounce {
	0% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	50% {
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}
	100% {
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@-webkit-keyframes moveLeftBounce {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	50% {
		-webkit-transform: translateX(5px);
		transform: translateX(5px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes moveLeftBounce {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	50% {
		-webkit-transform: translateX(5px);
		transform: translateX(5px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes ripple {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	75% {
		-webkit-transform: scale(1.75);
		transform: scale(1.75);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(2);
		transform: scale(2);
		opacity: 0;
	}
}

@-webkit-keyframes rotateMe {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes rotateMe {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@-webkit-keyframes moveScale {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes moveScale {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	50% {
		-webkit-transform: scale(0.8);
		transform: scale(0.8);
	}
	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes sk-bouncedelay {
	0%,
	80%,
	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
	40% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes animationFramesOne {
	0% {
		-webkit-transform: translate(0px, 0px) rotate(0deg);
		transform: translate(0px, 0px) rotate(0deg);
	}
	20% {
		-webkit-transform: translate(73px, -1px) rotate(36deg);
		transform: translate(73px, -1px) rotate(36deg);
	}
	40% {
		-webkit-transform: translate(141px, 72px) rotate(72deg);
		transform: translate(141px, 72px) rotate(72deg);
	}
	60% {
		-webkit-transform: translate(83px, 122px) rotate(108deg);
		transform: translate(83px, 122px) rotate(108deg);
	}
	80% {
		-webkit-transform: translate(-40px, 72px) rotate(144deg);
		transform: translate(-40px, 72px) rotate(144deg);
	}
	100% {
		-webkit-transform: translate(0px, 0px) rotate(0deg);
		transform: translate(0px, 0px) rotate(0deg);
	}
}

@-webkit-keyframes lds-hourglass {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	50% {
		-webkit-transform: rotate(900deg);
		transform: rotate(900deg);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	100% {
		-webkit-transform: rotate(1800deg);
		transform: rotate(1800deg);
	}
}

@keyframes lds-hourglass {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	50% {
		-webkit-transform: rotate(900deg);
		transform: rotate(900deg);
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	100% {
		-webkit-transform: rotate(1800deg);
		transform: rotate(1800deg);
	}
}
